---
layout: default
title: The Moments
permalink: /blog/
---

<h1>The Moments</h1>
-recording things interested me <i>at the moment</i>

<br>

<br>

<br>

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.content contains site.excerpt_separator %}
      {{ post.excerpt }}
      <a href="{{ post.url }}">Read more...</a>
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>
  {% endfor %}
</div>