<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 style="font-size: 43px">
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="{{ site.baseurl }}/">Home</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/Writings/">Wrtings</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/blog/">Blog</a>
    </nav>

    <p>&copy; {{ site.time | date: '2020' }}. All rights reserved.</p>
  </div>
</div>
